@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<HR_Module_Proj.Models.MasterDesignation>

@foreach (var des in Model)
{
    <tr data-id="@des.DesignationID">
        <td>@des.DesignationName</td>
        <td>@des.ShortName</td>
        <td>@(des.IsActive ? "Yes" : "No")</td>
        <td>
            <button class="btn btn-warning btn-sm edit-btn"
                    data-id="@des.DesignationID"
                    data-name="@des.DesignationName"
                    data-short="@des.ShortName"
                    data-active="@des.IsActive">
                Edit
            </button>
            <button class="btn btn-danger btn-sm delete-btn" data-id="@des.DesignationID">Delete</button>
        </td>
    </tr>
}
